body {
   background-color: #fafafa;
   text-align: center;
   font-family: 'Armata', sans-serif;
   color: #8191ff;
}

header {
   margin-bottom: 25px;
}

h1 {
   text-align: center;
   letter-spacing: 15px;
   color: #8191ff;
   text-shadow: #b1b9ff -10px -5px 10px;
   margin-bottom: 2px;
}

#tabla-completa {
   width: 402px;
   height: 432px;
   margin: 0 auto;
}

#tabla {
   width: 400px;
   height: 400px;
   margin: 0 auto;
}

#pie-tabla {
   position: relative;
   width: 400px;
   height: 90px;
   margin: 0 auto;
   /*border: 2px solid black;*/
}

#siguiente {
   display: inline;
   position: absolute;
   left: 0px;
   border-bottom: 2px solid #fafafa; /* Show blink wrong*/
   margin: 5px 5px;
   font-family: sans-serif;
   color: black;
}

#tiempo {
   display: inline;
   position: absolute;
   right: 0px;
   margin: 5px 5px;
   font-family: sans-serif;
   color: black;
}

#tabla-actual {
   position: absolute;
   /*Centrado copiado*/
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   margin-top: 25px;
}

#ask-boards-div {
   margin: 150px 5px 5px 5px;
   font-size: 25px;
}

#round-result {
   font-family: monospace;
   font-size: 25px;
}

#total-result {
   font-size: 30px;
}

#result-div {
   margin-top: 150px;
}

#again-button {
   margin-top: 30px;
   width: auto;
}

.link-noLink {
   text-decoration: none;
   color: inherit;
}

.button-table {
   float: left;
   margin: 0;
   border: 2px solid #a8fff7;
   background-color: white;
   width: 80px;
   height: 80px;
   font-size: 35px;
   color: #474747;
   outline: 0; /*Quita puto recuadro azul*/
}

/*Cambia a gris en boton oprimido*/
.button-table:active {
   background-color: #0ff;
}

/* Prevent double borders vertically on table */
.button-table:not(:last-child) {
    border-right: none;
}

/* No Border Botton */
.nbb{
   border-bottom: none;
}

.blinkito {
   animation-name: blink-wrong;
   animation-duration: 0.5s;
   animation-iteration-count:infinite;
}

@keyframes blink-wrong {
   from {border-color: red;}
   to {border-color: #fafafa;}
}

.page-button {
   margin: 0;
   border: 2px solid #4f8bff;
   border-radius: 18px;
   background-color: #4f8bff;
   width: 100px;
   height: 40px;
   font-size: 20px;
   color: white;
   outline: 0;
   transition: 0.2s;
}

.page-button:hover{
   background-color: #2870fa;
   border-color: #4f8bff;
}

.page-button:active{
   background-color: #1263fe;
   border-color: #4f8bff;
}

/*Visores de Responsive*/
.visor {
   text-align: right;
   position: relative;
   font-family: serif;
   font-size: 10px;
   color: black;
   margin-top: 50px;
}

#visor1{
   display: none;
}
#visor2{
   display: none;
}
#visor3{
   display: none;
}

/*Responsive SMALL*/
@media screen and (max-width: 425px) {
   h1 {
      font-size: 7vw;
   }

   .button-table {
      width: 20%;
      height: 100%;
      font-size: 33px;
   }

   .page-button {
      margin: 1px;
      width: 90px;
      height: 38px;
      font-size: 20px;
   }

   /*Height of table rules height of boxes. Manually*/
   #tabla-completa {
      width: 100%;
      height: 410px;
   }

   #tabla {
      width: 100%;
      height: 380px;
   }

   #tabla div {
      height: 20%;
   }

   #pie-tabla {
      width: 100%;
   }

   #round-result {
      font-size: 6vw;
   }

   /*Visores*/
   #visor1{
      display: block;
   }
   #visor2{
      display: none;
   }
   #visor3 {
      display: none;
   }
}

/*Responsive x-small*/
@media screen and (max-width: 360px) {
   .button-table {
      font-size: 28px;
   }

   .page-button {
      margin: 1px;
      width: 85px;
      height: 36px;
      font-size: 20px;
   }

   /*Height of table rules height of boxes. Manually*/
   #tabla-completa {
      width: 100%;
      height: 340px;
   }

   #tabla {
      width: 100%;
      height: 310px;
   }

   /*Visores*/
   #visor1 {
      display: none;
   }
   #visor2 {
      display: block;
   }
   #visor3 {
      display: none;
   }
}

/*Responsive xx-small*/
@media screen and (max-width: 300px) {
   h1 {
      letter-spacing: 10px;
   }


   .button-table {
      font-size: 26px;
   }

   .page-button {
      margin: 1px;
      width: 80px;
      height: 34px;
      font-size: 18px;
   }

   /*Height of table rules height of boxes. Manually*/
   #tabla-completa {
      width: 100%;
      height: 290px;
   }

   #tabla {
      width: 100%;
      height: 250px;
   }

   #ask-boards-div p {
      font-size: 8vw;
   }

   /*Visores*/
   #visor1{
      display: none;
   }
   #visor2{
      display: none;
   }
   #visor3 {
      display: block;
   }
}
